body {
	margin: 20px 20px;
	padding: 0;
	background-color: black;
}

header {
	background-color: lightslategray;
	margin-bottom: 50px;
}
.header_left {
	margin-top: 20px;
	margin-left: 100px;
	background-size: cover;
	border-radius:50%;
}
.header_right {
	margin: 0px 50px;
	padding: 5px;
	display: block;
	list-style-type: none;
}

h1 {
	color:white;
}
label {
	color: white;
}

a {
	text-decoration: none;
	color: white;
	font-size:30px;
	margin: 5px 10px;
}

a:hover {
	color: yellowgreen;
}

main div div {
	margin: 20px 50px;
}
footer {
	margin: 50px 0px;
	background-color: lightslategray;
}
.footerright {
	margin: 100px 20px;
	float: none;
}


@media screen and (min-width: 961px) {
		ul {
			  list-style-type: none;
			  overflow: hidden;
		}
		li {
			  float: right;
		}
		li a {
			  display: block;
			  text-align: center;
		}
		main>div {
			display: flex;
		}
		.footerright {
			margin: 100px 20px;
			float: right;
		}
	}